body {
  background: #8589FF;
}
h1,h2,p{
  font-weight: bold;
  text-align: center;
  color: black;
}
p{
  font-size: 14pt
}
h2{
  font-size: 18pt;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 3px solid green;
  padding: 10px; 
  border: 5px black solid;
  height: 90px;
  width: 200px;
}
.centerInput{
  display: flex;
  align-items: center;
  justify-content: center;
}
.centerInput h3{
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #F0F8FF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:active {
  background-color: #F0F8FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.calculator{
  border: 5px black solid;
}